header {
  position: relative;
  margin: 20px 12px 10px 12px;
  height: 20px;
  font-size: medium;
  align-items: flex-start;
  z-index: 1;
}

nav {
  float: right;
  display: block;
}
nav a {
  margin-left: 12px;
  justify-self: right;
}
.active {
  opacity: .4;
}
object {
  position: absolute;
  top: -20px;
  width: 80px;
}
object:hover {
  opacity: .4;
}
.non-clickable {
  pointer-events: none;
}
fa-icon {
  margin-left: 24px;
}
/* Tablet*/
@media (min-width: 768px){
	header {
    font-size: large;
    height: 34px;
    margin-left: 16px;
    margin-right: 32px;
  }
  object {
    width: 120px;
  }
  nav a {
    margin-left: 16px;
  }
  fa-icon {
    margin-left: 32px;
  }
  nav a {
    margin-left: 16px;
  }
  fa-icon {
    margin-left: 32px;
  }
  header {
    margin-bottom: 0px;
  }
}