app-project {
  margin: 0 !important;
  padding: 0 !important;
  background-color: red;
}
img {
  aspect-ratio: 1;
  object-fit: cover;
}
div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99.4%;
  width: 100%;
  opacity: 0;
  transition: .25s ease-in-out;
  background-color: gainsboro;
}
article {
  position: relative;
  margin-bottom: 8px;
}
article:hover {
  cursor: pointer;
}
article:hover div {
  opacity: .9;
}
article:hover > img {
  filter: brightness(1.2) ;
}
p {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.self-made-modal {
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: auto;
  height: auto;
  z-index: 2;
}
#modal-box {
  z-index: -1;
  height: auto;
  position: relative;
}
/* Tablet*/
@media (min-width: 768px){
  .project-cover {
    aspect-ratio: 1;
  }
  div {
    margin-bottom: 18px;
  }
}

/* Desktop*/
@media (min-width: 1200px){
  .project-cover{
    aspect-ratio: .85;
  }
  div {
    margin-bottom: 20px;
  }
}