app-project {
  margin: 0 !important;
  padding: 0 !important;
  background-color: red;
}
img {
  margin-bottom: 8px;
}
div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
article:hover {
  cursor: pointer;
}
article:hover > div {
  opacity: .4;
}
article:hover > img {
  filter: brightness(0.4);
}