app-project {
  margin: 0 !important;
  padding: 0 !important;
  background-color: red;
}
img {
  margin-bottom: 8px;
  aspect-ratio: 4/5;
  object-fit: cover;
}
div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
article:hover {
  cursor: pointer;
}
article:hover > div {
  opacity: .4;
}
article:hover > img {
  filter: brightness(0.4);
}

/* Tablet*/
@media (min-width: 768px){
  img {
    aspect-ratio: 1;
  }
  div {
    margin-bottom: 18px;
  }
}

/* Desktop*/
@media (min-width: 1200px){
  img {
    aspect-ratio: 3/4;
  }
  div {
    margin-bottom: 20px;
  }
}