#copy {
  margin-bottom: 12px;
}
#btt {
  text-align: center;
}
#hero-wrapper {
  overflow:hidden;
  position: relative;
  z-index: 0;
  width: 100vw;
}
#hero-wrapper img{
  width: 100%;
}
#projects-wrapper {
  margin: 12px 12px;
}
#projects-wrapper:last-child {
  margin-bottom: 32px;
}
#cta {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 48px;
}
#cta p {
  font-size: large;
  margin-bottom: 18px;
}
#cta button {
  all: unset;
  color: white;
  background-color: black;
  padding: 12px 30px;
  border-radius: 4px;
}
#cta button:hover {
  background-color: rgba(0, 0, 0, .85);
  cursor: pointer;
}

#cta button:active {
  background-color: rgba(0, 0, 0, .65);
}

/* Tablet*/
@media screen and (min-width: 768px){
  #projects-wrapper {
    margin: 16px 16px 16px 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 16px;
  }
  #hero-wrapper {
  }
}

/* Desktop*/
@media screen and (min-width: 1200px){
  #hero-wrapper {
  }
  #hero-wrapper img {
    width: 100%;
  }
  #projects-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 16px;
  }
  #cta p {
    font-size: larger;
  }
}