<!-- MOBILE CAROUSEL -->
<div *ngIf="mobile" id="hero-wrapper">
  <ngb-carousel [showNavigationArrows]='showNavigationArrows' [showNavigationIndicators]='showNavigationIndicators' [animation]="animation">
    <ng-template *ngFor="let mobileCover of mobileCovers" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='"../../assets/Covers/Mobile/" + mobileCover' alt="" />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<!-- TABLET CAROUSEL -->
<div *ngIf="tablet" id="hero-wrapper">
  <ngb-carousel [showNavigationArrows]='showNavigationArrows' [showNavigationIndicators]='showNavigationIndicators' [animation]="animation">
    <ng-template *ngFor="let tabletCover of tabletCovers" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='"../../assets/Covers/Tablet/" + tabletCover' alt="" />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<!-- DESKTOP CAROUSEL -->
<div *ngIf="desktop" id="hero-wrapper">
  <ngb-carousel [showNavigationArrows]='showNavigationArrows' [showNavigationIndicators]='showNavigationIndicators' [animation]="animation">
    <ng-template *ngFor="let desktopCover of desktopCovers" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='"../../assets/Covers/Desktop/" + desktopCover' alt="" />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<!-- PROJECTS-->
<div id="projects-wrapper">
  <app-project [project]="project" *ngFor="let project of projects | slice: 1 | reverse" class="project"></app-project>
</div>

<!-- CTA -->
<div id="cta">
  <p>Let's bring your projects to life.</p>
  <button>
    CONTACT
  </button>
</div>
