footer{
  margin: 16px 12px 0px 12px;
  height: 46px;
  font-size: smaller;
}
#copy {
  margin-bottom: 12px;
}
#btt {
  text-align: center;
}


/* Tablet*/
@media (min-width: 768px){
  #projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 16px;
  }
}

/* Desktop*/
@media (min-width: 1200px){
  #projects-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 16px;
  }
}