footer{
  margin: 16px 12px 0px 12px;
  height: 46px;
  font-size: smaller;
}
#copy {
  margin-bottom: 12px;
}
#btt {
  text-align: center;
}

/* Tablet*/
@media (min-width: 768px){
	footer {
    margin-right: 16px;
    margin-left: 16px;
    font-size: medium;
    height:72px;
  }
  p:first-child {
    margin-bottom: 16px;
  }
  .center {
    text-align: center;
  }
}
/* Desktop */
@media (min-width: 1200px){
	footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .second-column {
    grid-column: 2;
  }
  .margin-top {
    margin-top: 24px;
  }
}