footer{
  margin: 0px 12px;
  height: 40px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: -2;
}
.absolute {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 99vh;
}
.footer-elements {
  text-align: center;
}
p {
  margin-bottom: 16px;
}
/* Tablet*/
@media (min-width: 768px){
}
/* Desktop */
@media (min-width: 1200px){

}