footer{
  margin: 0px 12px;
  height: 40px;
  font-size: smaller;
}
#copy {
  text-align: center;
  font-size: x-small;
}
#btt {
  text-align: center;
  margin-bottom: 10px;
}

/* Tablet*/
@media (min-width: 768px){
	footer {
    margin-right: 16px;
    margin-left: 16px;
    font-size: small;
    height: 50px;
  }
}
/* Desktop */
@media (min-width: 1200px){

}