<article class="mobile-tablet">

  <div>    
    <!-- Primera imagen -->
    <img class="cover" [src]="activeProject.cover" alt="" width="100%">
    <!-- Titulo -->
    <p id="project-title">{{activeProject.name}} 
      <span *ngIf="activeProject.clients[0].name"> for 
        <span class="client" *ngFor="let client of activeProject.clients">
          <a *ngIf="client.link != ''; else noLink" [href]="client.link != '' ? client.link : ''">{{client.name}}</a>
          <ng-template #noLink>{{client.name}}</ng-template>
        </span>
      </span></p>
    <!-- Imagenes -->
    <img *ngFor="let image of activeProject.images; index as a" [src]="activeProject.images[a]" width="100%">
    <p>{{activeProject.images | slice: 8}}</p>
  </div>
  <!-- Previows-next -->
  <div id="previous-next-project">
    <a [ngClass]="{'hidden': firstProject}" (click)="this.previousProject()">Previous</a>
    <a [ngClass]="{'hidden': lastProject}" (click)="this.nextProject()">Next</a>
  </div>
<!--

  <div class="tablet-container" *ngIf="tablet">
    <div class="change-image" [ngClass]="{'full-opacity': !firstProject && this.imageCounter == 0, 'hidden': firstProject && this.imageCounter == 0}" (click)="previousImage()">
      <object data="../../assets/angle-left.svg" ></object>
    </div>
    <img src="{{activeImage}}" (click)="nextImage()" width="100%">
    <div [ngClass]="{'full-opacity': !lastProject && this.imageCounter == this.activeProject.images.length - 1, 'hidden': lastProject && this.imageCounter == this.activeProject.images.length - 1}" class="change-image" (click)="nextImage()">
      <object data="../../assets/angle-right.svg" ></object>
    </div>
  </div>
  <p id="tabletcounter" *ngIf="tablet">{{imageCounter + 1}} / {{this.activeProject.images.length}}</p>
</article>




  <article class="desktop" *ngIf="desktop">
  <div id="main-textbox">
    <p id="counter" >{{imageCounter + 1}} / {{this.activeProject.images.length}}</p>
    <div id="project-textbox">
      <div class="text-box">
        <p>{{activeProject.name}}</p>
        <p>
          <span *ngFor="let client of activeProject.clients; index as i">
            <a *ngIf="activeProject.clients[i].link; else noLink" href="https://{{activeProject.clients[i].link}}">
              {{activeProject.clients[i].name}}
            </a>
            <span *ngIf="activeProject.clients.length >1 && i != activeProject.clients.length - 1"> / </span>
            <ng-template #noLink>{{activeProject.clients[i].name}}</ng-template>
          </span>
        </p>
        <p>{{activeProject.location.city}}, {{activeProject.location.country}}</p>

      </div>
    </div>
    <p *ngIf="activeProject.text" id="project-description">
      {{activeProject.text}}
    </p>
        <div [ngClass]="{'full-opacity': !firstProject && this.imageCounter == 0, 'hidden': firstProject && this.imageCounter == 0}" id="previous-image" class="change-image" (click)="previousImage()">
      <object data="../../assets/angle-left.svg" ></object>
    </div>
  </div>
  <div class="desktop-container" *ngIf="desktop">
    <img src="{{activeImage}}" (click)="nextImage()" width="100%">
    <div [ngClass]="{'full-opacity': !lastProject && this.imageCounter == this.activeProject.images.length - 1, 'hidden': lastProject && this.imageCounter == this.activeProject.images.length - 1}" class="change-image"  (click)="nextImage()">
      <object data="../../assets/angle-right.svg" ></object>
    </div>
  </div>
</article>
-->