#main-textbox {
  margin: 40px 0px 12px 0px
}
#project-textbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.text-box:last-child {
  text-align: end;
}
p:first-child {
  font-size: medium;
}
img {
  margin-bottom: 8px;
}
img:last-child {
  margin-bottom: 0px;
}
#project-description {
  opacity: .6;
}