#main-textbox {
  margin: 40px 0px 12px 0px
}
#project-textbox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;
}

.text-box:last-child {
  text-align: end;
}
p:first-child {
  font-size: medium;
}
img {
  margin-bottom: 8px;
  cursor: pointer;
}
img:last-child {
  margin-bottom: 0px;
}
#project-description {
  opacity: .6;
}
.non-clickable {
  cursor: default;
}
#previous-next-project {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.hidden {
  visibility: hidden;
}
/* Tablet*/
@media (min-width: 768px){
  .mobile-tablet {
    height: calc(100vh - 80px - 90px);
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
  }
  .tablet-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
#tabletcounter {
  text-align: center;
}
  img {
    max-height: 100%;
    width: auto;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
  }
  #project-description {
    margin-bottom: 32px;
  }
  
  .change-image {
    display: flex;
    justify-content: center;
    width: 32px;
    opacity: .4;
  }
  .change-image:hover {
    opacity: .2;
    cursor: pointer;
  }
  object {
    width: 24px;
    pointer-events: none;
  }
  .full-opacity {
    opacity: 1;
  }
  .full-opacity:hover {
    opacity: .05;
  }
}

/* Desktop */
@media (min-width: 1200px){
  .desktop {
    height: calc(100vh - 76px - 90px);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    padding-bottom: 10px;
  }

  #main-textbox {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: right;
    justify-content: flex-end;
    margin: 0;
    position: relative;
  }
  #counter {
    text-align: right;
    font-size: small;
    grid-column: 1;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 2rem;
  }
  #project-textbox {
    display: block;
  }
  p:first-child {
    font-size: large;
  }
  #project-description {
    margin: 0;
  }

  .desktop-container {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / span 3;
    margin: 0;
    overflow: hidden;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  img {
    max-height: auto;
    max-width: auto;
    object-fit: fill;
    margin: 0;
    align-self: flex-end;
  }
  #previous-image {
    position:absolute;
    right: -14px;
    bottom: 0px;
    height: calc(100vh - 76px - 90px);
    width: 40px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #previous-next-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 16px;
    align-self: flex-end;
  }
  #previous-next-project div {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / span 2;
  }
  .full-opacity {
    opacity: 1;
  }
}