<article class="mobile-tablet" *ngIf="mobile || tablet">
  <div id="main-textbox">
    <div id="project-textbox">
      <div class="text-box">
        <p>{{activeProject.name}}</p>
        <p>
          <span *ngFor="let client of activeProject.clients; index as i">
            <a *ngIf="activeProject.clients[i].link; else noLink" href="https://{{activeProject.clients[i].link}}">
              {{activeProject.clients[i].name}}
            </a>
            <span *ngIf="activeProject.clients.length >1 && i != activeProject.clients.length - 1"> / </span>
            <ng-template #noLink>{{activeProject.clients[i].name}}</ng-template>
          </span>
        </p>
      </div>
      <div class="text-box">
        <p>{{activeProject.year}}</p>
        <p>{{activeProject.location.city}}, {{activeProject.location.country}}</p>
      </div>
    </div>
    <p *ngIf="activeProject.text" id="project-description">
      {{activeProject.text}}
    </p>
  </div>
  <div *ngIf="mobile">
    <img *ngFor="let image of activeProject.images; index as i" src="{{activeProject.images[i]}}" width="100%">
  </div>
  <div class="tablet-container" *ngIf="tablet">
    <div *ngIf="activeProject.images.length > 1" class="change-image" (click)="previousImage()">
      <object data="../../assets/angle-left.svg" ></object>
    </div>
    <img src="{{activeImage}}" (click)="nextImage()" width="100%">
    <div class="change-image" *ngIf="activeProject.images.length > 1" (click)="nextImage()">
      <object data="../../assets/angle-right.svg" ></object>
    </div>
  </div>
</article>
<article class="desktop" *ngIf="desktop">
  <div id="main-textbox">
    <div id="project-textbox">
      <div class="text-box">
        <p>{{activeProject.name}}</p>
        <p>
          <span *ngFor="let client of activeProject.clients; index as i">
            <a *ngIf="activeProject.clients[i].link; else noLink" href="https://{{activeProject.clients[i].link}}">
              {{activeProject.clients[i].name}}
            </a>
            <span *ngIf="activeProject.clients.length >1 && i != activeProject.clients.length - 1"> / </span>
            <ng-template #noLink>{{activeProject.clients[i].name}}</ng-template>
          </span>
        </p>
        <p>{{activeProject.location.city}}, {{activeProject.location.country}}</p>

      </div>
    </div>
    <p *ngIf="activeProject.text" id="project-description">
      {{activeProject.text}}
    </p>
        <div [ngClass]="{'full-opacity-2': this.imageCounter == 0 }" id="previous-image" *ngIf="activeProject.images.length > 1" class="change-image" (click)="previousImage()">
      <object data="../../assets/angle-left.svg" ></object>
    </div>
  </div>
  <div class="desktop-container" *ngIf="desktop">
    <img src="{{activeImage}}" (click)="nextImage()" width="100%">
    <div [ngClass]="{'full-opacity': this.imageCounter == this.activeProject.images.length - 1 }" class="change-image" *ngIf="activeProject.images.length > 1" (click)="nextImage()">
      <object data="../../assets/angle-right.svg" ></object>
    </div>
  </div>
</article>